body {
    background-color: #030503;;
}
      

  .jumbotron {
    background-image: url("../images/bacteria2.jfif");
    background-size: 100% 100%;
    color: #f1f2f8;
    text-align: center;
    
  }

  h1 {
    text-decoration: underline;
}

    p {
        font-style: italic;
    }

div.row {
    background-color: #0d0f0d;

}

div.bar {
    background-color: #0e12ee;
}
